<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/header') -%>
        <title> All Files </title>
    </head>
    <body>
        <%- include('../partials/nav', {active: 'fl'}) -%>
        <div class="container text-center">
            <div class="row">
                <div class="col-10 text-start">
                    <span class="fs-3">List of Files</span>
                </div>
                <div class="col-2">
                    <button type="button" class="my-1 float-end btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        <i class="bi bi-funnel-fill"></i>
                    </button>
                </div>
            </div>
            <div class="list-group shadow">
                <% let i=0; files.forEach(function(file) { %>
                    <div class="card card-body">
                        <a class="btn bt-primary" data-bs-toggle="collapse" aria-expanded="false" href="#View<%= i %>"  aria-controls="View<%= i %>" role="button"><%= file.name %></a>
                        <div class="collapse mt-1" id="View<%= i %>">
                            <div class="card card-body shadow">
                                <a href="/f/<%= file.name %>" type="button" class="btn btn-primary">View</a>
                                <a href="/r/<%= file.name %>" type="button" class="btn btn-danger">Delete</a>
                            </div>
                        </div>
                        <% i++ %>
                    </div>
                <% }) %>
            </div>
        </div>
        
        <!-- Fliter Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Choose filter options: </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <select id="O">
                        <option value="null" selected disabled> Choose a type </option>
                        <option value="img"> Images </option>
                        <option value="script"> Scripts </option>
                        <option value="ALL"> All </option>
                    </select>

                    <div class="container mt-2">
                        <div class="card card-content shadow">
                            <div class="card-header shadow-sm"> Choose Sort </div>
                            <div class="card-body">
                                <div class="row fs-4">
                                    <div class="col">
                                        <button class="btn btn-primary BTN-SD">
                                            <i class="bi bi-eraser" title="Default"></i>
                                        </button>
                                    </div>
                                    <div class="col">
                                        <button class="btn btn-secondary BTN-AZ">
                                            <i class="bi bi-sort-alpha-down" title="A to Z"></i>
                                        </button>
                                    </div>
                                    <div class="col">
                                        <button class="btn btn-secondary BTN-ZA">
                                            <i class="bi bi-sort-alpha-up" title="Z to A"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Discard</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="BtnUpdateFilters">Save changes</button>
                </div>
            </div>
            </div>
        </div>

        <script>
            const btn_updateFilters = document.querySelector(".modal #BtnUpdateFilters");
            const btn_az = document.querySelector(".modal .BTN-AZ");
            const btn_za = document.querySelector(".modal .BTN-ZA");
            const btn_sd = document.querySelector(".modal .BTN-SD");

            btn_sd.onclick = () => {
                if(!btn_sd.classList.contains('btn-primary')) {
                    btn_sd.classList.add('btn-primary');
                    btn_sd.classList.remove('btn-secondary');
                    
                    btn_za.classList.remove('btn-primary');
                    btn_za.classList.add('btn-secondary');

                    btn_az.classList.remove('btn-primary');
                    btn_az.classList.add('btn-secondary');
                }
            }

            btn_az.onclick = () => {
                if(btn_az.classList.contains('btn-primary')) {
                    btn_az.classList.remove('btn-primary');
                    btn_az.classList.add('btn-secondary');
                    
                    btn_sd.classList.add('btn-primary');
                    btn_sd.classList.remove('btn-secondary');
                } else {
                    btn_az.classList.add('btn-primary');
                    btn_az.classList.remove('btn-secondary');
                    
                    btn_za.classList.remove('btn-primary');
                    btn_za.classList.add('btn-secondary');

                    btn_sd.classList.remove('btn-primary');
                    btn_sd.classList.add('btn-secondary');
                }
            }

            btn_za.onclick = () => {
                if(btn_za.classList.contains('btn-primary')) {
                    btn_za.classList.remove('btn-primary');
                    btn_za.classList.add('btn-secondary');
                    
                    btn_sd.classList.add('btn-primary');
                    btn_sd.classList.remove('btn-secondary');
                } else {
                    btn_za.classList.add('btn-primary');
                    btn_za.classList.remove('btn-secondary');
                    
                    btn_az.classList.remove('btn-primary');
                    btn_az.classList.add('btn-secondary');

                    btn_sd.classList.remove('btn-primary');
                    btn_sd.classList.add('btn-secondary');
                }
            }
            

            btn_updateFilters.onclick = () => {
                const O = document.getElementById("O");
                const S = document.getElementById("S");
                let outO;
                let outS;

                if(O.value === "null" || O.value === "ALL") {
                    outO = null;
                } else {
                    outO = [O.value];
                }

                if(btn_sd.classList.contains('btn-primary')) {
                    outS = null;
                } else
                if(btn_za.classList.contains('btn-primary')) {
                    outS = "ZA"
                } else {
                    outS = 'ZA'
                }

                SendUpdateFilters({
                    only: outO,
                    sort: outS
                })
            }

            function SendUpdateFilters(options) {
                const only = options.only ? "only=" + encodeURIComponent(options.only.join("_")) : null;
                const sort = options.sort ? "sort=" + encodeURIComponent(options.sort) : null;

                const search = "?" + [only, sort].filter(e => typeof e !== "object" && e !== null).join("&");

                window.location = "/fl" + search;
            }
        </script>

        <%- include('../partials/footer') -%>
    </body>
</html>